.table-component {
  .table {
    font-size: 12px;
    max-width: 100%;
    width: 100%;
    text-align: center;
    border-collapse: collapse;

    thead, tbody, tr, th {
      font-size: 100%;
      vertical-align: baseline;
      margin: 0;
      padding: 0;
      outline: 0;
      border: 0;
      border-style: none;
      background: 0 0;
    }

    tbody {
      display: table-row-group;
      background-color: #eaedef;
      td {
        padding: 15px;
        border: 1px solid #d9dde2;
      }
    }
    thead {
      th {
        background-color: #c7c8c9;
        font-weight: normal;
        font-size: 14px;
        text-align: center;
        padding: 10px;
        cursor: pointer;
      }
      tr {
        display: table-row;
      }

      td {
        color: #669;
      }
    }
  }
  .page-numbers {
    list-style: none;
    display: inline-flex;
    position: absolute;
    right: 1%;
     li {
       margin: 5px;
       padding: 10px;
       border: 1px solid #d9dde2;
       background-color: #eaedef;
       cursor: pointer;
     }
  }
}
